h1{
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px black solid;
    margin-bottom: 0px;
}
a {
    color: black;
    text-decoration: none;
}
.open {
    color: pink;
}
#now {
    color: red;
}
#grid{
    display: grid;
    grid-template-columns: 150px 1fr;
}
#tab{
    padding-top: 20px;
    border-right: 1px black solid;
    margin-top: 0px;
    margin-right: 20px;
}